/*
# SP Portfolio - Simple Portfolio module by JoomShaper.com
# -------------------------------------------------------------
# Author    JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2014 JoomShaper.com. All Rights Reserved.
# @license - GNU/GPL V2 or Later
# Websites: http://www.joomshaper.com
*/

div.appico ul.sp-portfolio-filter{
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	text-align:center;
}

div.appico ul.sp-portfolio-filter li{
	display: inline-block;
}

div.appico .btn.active{
	background-color: #ccc;
}

div.appico .btn.btn-primary{
	background-color: #006dcc;
	color: #fff;
}

div.appico .btn.btn-primary:hover{
	background-color: #04c;
}

div.appico .col-1 {width:100%}
div.appico .col-2 {width:50%}
div.appico .col-3 {width:33%;}
div.appico .col-4 {width:24%}
div.appico .col-5 {width:20%}
div.appico .col-6 {width:16.666%}
div.appico .col-7 {width:14.256%}
div.appico .col-8 {width:12.5%}
div.appico .col-9 {width:11.111%}
div.appico .col-10 {width:10%}
div.appico{
	margin-top: 20px;
}
div.appico ul.sp-portfolio-items{
	list-style: none;
	padding: 0;
	margin: -10px;
	display: block;
	position: relative;
}

div.appico ul.sp-portfolio-items > li{
	background: none;
	padding: 0;
	margin: 0;
	float: left;
}

div.appico .sp-portfolio-item-inner{
	background: #f5f5f5;
	padding: 10px;
	margin: 10px;
	position:relative;
}

div.appico .sp-portfolio-thumb{
	width: 100%;
	position: relative;
	overflow: hidden;
}
div.appico .sp-portfolio-thumb::after{
	height:0;
	width:0;
	opacity:0;
	content:" ";
	background:transparent;
	position: absolute;
	top:0;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	-ms-transition: 500ms;
	transition: 500ms;
}
div.appico .sp-portfolio-thumb:hover::after{
	height:100%;
	width:100%;
	opacity:.8;
	background:#000;
	border-radius:3px;
}
div.appico .sp-portfolio-item-details {
	position: absolute;
	bottom:0;
	margin:30px 20px;
	padding: 5px 30px 5px 10px;
	background:#000;
	color:#fff;
}

div.appico .sp-portfolio-thumb img{
	width: 100%;
	border-radius:3px;
}

div.appico .sp-portfolio-thumb .sp-portfolio-preview,
div.appico .sp-portfolio-thumb .sp-portfolio-link{
	width: 40px;
	height: 40px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	-ms-transition: 300ms;
	transition: 300ms;
}

div.appico .sp-portfolio-thumb .sp-portfolio-preview{
	background-image: url(../images/icon-plus.png);
	left: 50%;
	margin-left: -75px;
	z-index:10;
	border-radius:3px;

}

div.appico .sp-portfolio-thumb .sp-portfolio-link{
	background-image: url(../images/icon-link.png);
	right: 50%;
	margin-right: -75px;
	z-index:10;
	border-radius:3px;
}

div.appico .sp-portfolio-thumb:hover .sp-portfolio-preview{
	opacity: 1;
	filter: alpha(opacity=100);
	margin-left: -20px;
}

div.appico .sp-portfolio-thumb:hover .sp-portfolio-link{
	opacity: 1;
	filter: alpha(opacity=100);
	margin-right: -45px;
}

div.appico .sp-portfolio-item-details {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-radius:4px;
}

div.appico .sp-portfolio-item-details h4{
	margin: 0;
}

div.appico .sp-portfolio-item {
	float:left;
}

div.appico .sp-portfolio-loadmore{
	text-align: center;
}

div.appico .btn {
	background-color:#fff;
	background-image:none;
	border:0;
	border-radius:0;
	box-shadow:none;
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	line-height:20px;
	margin-bottom:0;
	padding:4px 12px;
	text-align:center;
	text-shadow:none;
	border-radius:3px;
	vertical-align:middle;
	-webkit-box-shadow: none;
	box-shadow: none;
}

div.appico .sp-portfolio-loadmore .btn{
	float: none;
	margin-top: 30px;
	padding: 0 20px;
	min-width: 100px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
}
div.appico .sp-portfolio-loadmore .btn.hide,
div.appico .sp-portfolio-loadmore .btn .icon-spinner,
div.appico .sp-portfolio-loadmore .btn.loading span{
	display: none;
}

div.appico .sp-portfolio-loadmore .btn.loading .icon-spinner{
	display: block;
	font-size: 24px;
	line-height: 50px;
}

/*Isotope Animation*/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


.rtl .isotope .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
     -moz-transition-property: right, top, -moz-transform, opacity;
      -ms-transition-property: right, top, -ms-transform, opacity;
       -o-transition-property: right, top, -o-transform, opacity;
          transition-property: right, top, transform, opacity;
}