/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2013 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
 */

 .sp-main-menu-toggler{
  display: inline-block;
  position: fixed;
  top: 22px;
  right: 130px;
  z-index: 9999;
 }

.sp-mobile-menu{
  position: fixed !important;
  top: 80px;
  left: 50%;
  width: 100%;
  z-index: 99994;
  transform: translateX(-50%);
  max-width: 480px;
  min-width: 280px;
}

.sp-mobile-menu ul{
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sp-mobile-menu ul li{
  display: block;
  margin: 0;
  padding: 0 10px;
  background: #000000e0;
  cursor: pointer;
}

.sp-mobile-menu ul li span.sp-menu-toggler{
  display: block;
  width: 30px;
  float: right;
  cursor: pointer;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.sp-mobile-menu ul li span.sp-menu-toggler i{
  display: block;
  line-height: 40px;
}

.sp-mobile-menu ul li span.sp-menu-toggler .icon-angle-right,
.sp-mobile-menu ul li span.sp-menu-toggler.collapsed .icon-angle-down{
  display: none;
}

.sp-mobile-menu ul li span.sp-menu-toggler .icon-angle-down,
.sp-mobile-menu ul li span.sp-menu-toggler.collapsed .icon-angle-right{
  display: block;
}

.sp-mobile-menu ul li a{
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  color: #777;
}

.sp-mobile-menu ul li.active > a,
.sp-mobile-menu ul li:hover > a{
  color: #fff;
}